{
    "auth_url_2.0": "http://old.openstack:13000/v3",
    "username_2.0": "example",
    "password_2.0": "p4ssword",
    "project_id_2.0": "uuid_of_example_users_project",
    "ceph_client_2.0": "192.168.1.1",
    "auth_url_2.5": "http://new.openstack:13000/v3",
    "username_2.5": "example2",
    "password_2.5": "p4ssword",
    "project_id_2.5": "uuid_of_example_users_project",
    "openstack_cert_location_2.5": "/home/example2/.cert/cert.pem",
    "new_openstack_user_domain": "domain_name",
    "ceph_client_new": "192.168.2.1",
    "volume_export_dir":"/mnt/nfs_data/export/"
    "usage_export_dir": "/mnt/tape/usage/",
    "usage_start_year": "2015",
    "usage_start_month": "6",
    "usage_end_year": "2018",
    "usage_end_month": "5",
    "backup_to_tape": "True",
    "import_to_newcloud": "True"
}
